.left{
	width:50%;
	float:left;
}
.right{
	width:40%;
	float:left;
}

#todo{
	border:1px solid black;
	padding:10px;
	margin:10px;
}

#dates{
	border:1px solid black;
	padding:10px;
	margin:10px;
}

#resources{
	border:1px solid black;
	padding:10px;
	margin:10px;
}