html{font-family:"trebuchet ms", trebuchet ms, sans-serif;}
body{margin:0px;}
h1{font-family:"Arial", arial, sans-serif;}
h2{display: inline;}
html,body {
	margin:0;
	padding:0;
	height:100%;
	/*background-color:#d7d7d7;*/
	background: -webkit-linear-gradient(white, #d7d7d7, white); /* For Safari */
	background: -o-linear-gradient(white, #d7d7d7, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #d7d7d7, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #d7d7d7, white); /* Standard syntax */
}
#container{
	height:100%;
}

.banner{
	background-color: red; /*#C40000;/*AC2B37 WPI Red Color*/
	color: #FFFFFF;
	padding:0;
	border-bottom:2px solid #000000;
	height:40px;
	z-index:1;
}
.banner h1{
	float:left;
	padding: 0px 40px 0px 20px;
	/*border-right:solid 5px black;*/
	margin: 0;
	color: #FFFFFF;
}

.welcome{
	margin:10px;
	z-index:10;
}

.nav{
	/*position:absolute;
	right:0;
	margin-top:50px;
	padding-right:100px;
	float: right;*/
	float: left;
	height:100%;
	z-index:10;
	margin:0;
	padding:0;
	border-left:solid 1px black; /*5px for separation & emphasis */
}
.nav ul{
	margin:0;
	padding:0;
	height: 100%;
}
.nav li{
	background-color:red;
	float: left;
	text-decoration: none;
	display: block;
	border-right:1px solid black;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	height:100%;
}
.nav a{
	color: white;
	text-decoration:none;
	display:block;
	height: 100%;
	width:130px;
	padding-right:20px;
	font-size:13pt;
}
.nav a:hover{
	color: red;
	font-weight:bold;
}
.nav li:hover{
	background-color: #FFFFFF;
	color: red;
}
.nav span{
	display:inline-block;
	vertical-align:middle;
}
.nav-image{
	height:30px;
	width:30px;
	padding:5px;
	display:inline-block;
	vertical-align:middle;
}

.content{
	width: 65%;
	min-height: 100%;
	margin: 50px auto;
	margin-bottom: 0;
	background-color: white;
	padding:50px;
	border-radius:20px;
	border: 2px solid #d7d7d7;
}

.page-title{
	margin-bottom:30px;
}

.clear {
	clear: both;
}
.clearfix::after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.footer{
	background-color:gray;
}

.login{
	color:#ffffff;
	background-color: #AC2B37;
	padding:10px 20px;
	border:1px #000000 solid;
	text-decoration:none;
	font-size:14pt;
	border-radius:15px;
	margin:30px auto;
}

.button-element{
	color:gray;
	background-color: #d7d7d7;
	display:block;
	width:200px;
	text-align:center;
	padding: 10px;
	/*padding: 10px 100px;*/
	border: 2px solid #aaaaaa;
	text-decoration:none;
	font-size:14pt;
	border-radius:15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
}
.button-element:hover{
	color: #ffffff;
	background-color: #aaaaaa;
}
.button-element:active{
	color: #d7d7d7;
	background-color: #ffffff;
	border: 2px solid #d7d7d7;
}